<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/exercises.css">

    <script src="https://kit.fontawesome.com/307549276f.js" crossorigin="anonymous"></script>
    <title>FRIENDS</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fa-solid fa-address-card"></i>
                    <a href="#" class="button">My Profile</a>
                </li>
                <li>
                    <i class="fa-solid fa-dumbbell"></i>
                    <a href="#" class="button">My Exercises</a>
                </li>
                <li>
                    <i class="fa-solid fa-user-group"></i>
                    <a href="#" class="button">Friends</a>
                </li>
                <li>
                    <i class="fa-solid fa-inbox"></i>
                    <a href="#" class="button">Inbox</a>
                </li>
                <li>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="#" class="button">Logout</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                Exercises
            </header>
            <div class="content-block">
                <div class="exercise-block">
                    <div class="search-bar">
                        <select name="exercises-type">
                            <option value="Endurance">Endurance</option>
                            <option value="Strength">Strength</option>
                            <option value="Sports Training">Sports Training</option>
                            <option value="Custom">Custom</option>
                        </select>
                        <button class="search-button">Search</button>
                        <button class="new-exercise">Add new exercise</button>
                    </div>
                    <div class="exercise-list">

                    </div>
                </div>
            </div>
        </main>
    </div>
</body>