<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">

    <script src="https://kit.fontawesome.com/307549276f.js" crossorigin="anonymous"></script>
    <title>MY PROFILE</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fa-solid fa-address-card"></i>
                    <a href="#" class="button">My Profile</a>
                </li>
                <li>
                    <i class="fa-solid fa-dumbbell"></i>
                    <a href="#" class="button">My Exercises</a>
                </li>
                <li>
                    <i class="fa-solid fa-user-group"></i>
                    <a href="#" class="button">Friends</a>
                </li>
                <li>
                    <i class="fa-solid fa-inbox"></i>
                    <a href="#" class="button">Inbox</a>
                </li>
                <li>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a href="#" class="button">Logout</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                My Profile
            </header>
            <section class="profile">
                <div class="profile-card">
                    <div class="profile-picture"></div>
                    <div class="profile-text">Name Surname</div>
                </div>

                <div class="statistics">
                    <div class="stat-title">Statistics</div>
                    <div class="stats">
                        <div class="stat">Weight: </div>
                        <div class="stat">The longest run: </div>
                        <div class="stat">The longest bike ride: </div>
                        <div class="stat">The longest swim distance: </div>
                        <div class="stat">The longest plank: </div>
                        <div class="stat">The heaviest bench press: </div>
                    </div>
                    <span>View more detailed statistics</span>
                </div>

                <div class="schedule">
                    <div class="schedule-title">Schedule</div>
                    <div class="days">
                        <div class="day">
                            <span class="title">Mon</span>
                        </div>
                        <div class="day">
                            <span class="title">Tue</span>
                        </div>
                        <div class="day">
                            <span class="title">Wed</span>
                        </div>
                        <div class="day">
                            <span class="title">Thu</span>
                        </div>
                        <div class="day">
                            <span class="title">Fri</span>
                        </div>
                        <div class="day">
                            <span class="title">Sat</span>
                        </div>
                        <div class="day">
                            <span class="title">Sun</span>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>