.settings-tittle {
    font-size: 5vw;
}

.exercise-settings {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    font-size: 3vw;
}

.exercise-choice {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
}

.exercise-form-choice {
    height: auto;
    padding: 3vw;
    border-radius: 30px;
}