body {
    margin: 0;
    background: linear-gradient(0deg, rgba(169,202,209,1) 0%, rgba(146,237,255,1) 100%);
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #18AEFC 0%, #105375 100%) 0% 0% no-repeat padding-box;
    opacity: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
    text-align: center;
}

.logo > img {
    width: 90%;
}

.login-container {
    width: 50%;
    justify-content: center;
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #E2E2E2ED 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 78px;
    opacity: 1;
}

button {
    background: #158DCB 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;

    width: 50%;
    border: none;
    color: black;
    margin: 1em;
    line-height: 3em;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

@media only screen and (max-device-width: 600px) {
    .container {
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
    }

    * {
        font-size: 30px;
    }


    form {
        margin: auto;
    }

    img {
        height: 7em;
        margin: 2em;
    }

    li {
        font-size: smaller;
    }

    a {
        font-size: smaller;
    }
}

.base-container {
    /* width: 100vw; */
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #179BE0 0%, #0C4E70 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main{
    width: 80vw;
}

nav > img {
    width: 80%;
    margin: 1.5em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1.5em;
}

.button {
    border: 3px solid #FFFFFF;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    padding: 0.2rem;
    width: 60%;
}

ul {
    list-style-type: none;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    height: 100%;
    width: calc(100% - 40px);
    position: relative;
    margin: 0 auto;
    padding: 0;
}

li {
    text-align: left;
    color: white;
    margin-bottom: 2em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa, 
.fas {
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #179ADE 0% 0% no-repeat padding-box;
    height: 15vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 70px/109px Segoe UI;
}
